html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: #ddd;
  font-family: sans-serif;
}

@keyframes cloud_x {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 612px;
  }
}
@keyframes cloud_y {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -612px;
  }
}
canvas {
  background-color: #eee;
  box-shadow: 0px 0px 3px 0px #0008;

  background-image: url("https://media.istockphoto.com/photos/fluffy-clouds-hd-seamless-tiles-pattern-01-picture-id938695332?k=20&m=938695332&s=612x612&w=0&h=vvLS37XCtDZmvgG_nCVthhrKV6uWxhoBjoPyERsWgrE=");
  animation: cloud_x 10s linear infinite, cloud_y 20s linear infinite;

  width: 80%;
  margin: 0 10%;
}

.abs {
  position: absolute;
  top: 0;
  left: 0;
}

.controls {
  padding: 0.5em 10%;
  line-height: 2em;
  display: flex;
  gap: 1em 5em;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.controls h3 {
  margin: 0.2em 0;
}

.controls b {
  background-color: #333;
  color: #ddd;
  padding: 0.3em 0.5em;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 1px #0008;
}

.controls > div > * {
  display: inline-block;
  margin-right: 0.5em;
}

.icon {
  font-size: 1.3rem;
}

.not_free .free,
.free .not_free {
  display: none;
}
